In [2]:
%pip install gcsfs

Requirement already satisfied: gcsfs in /opt/conda/lib/python3.7/site-packages (2023.1.0)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /opt/conda/lib/python3.7/site-packages (from gcsfs) (3.8.4)
Requirement already satisfied: decorator>4.1.2 in /opt/conda/lib/python3.7/site-packages (from gcsfs) (5.1.1)
Requirement already satisfied: fsspec==2023.1.0 in /opt/conda/lib/python3.7/site-packages (from gcsfs) (2023.1.0)
Requirement already satisfied: google-auth>=1.2 in /opt/conda/lib/python3.7/site-packages (from gcsfs) (2.20.0)
Requirement already satisfied: google-auth-oauthlib in /opt/conda/lib/python3.7/site-packages (from gcsfs) (1.0.0)
Requirement already satisfied: google-cloud-storage in /opt/conda/lib/python3.7/site-packages (from gcsfs) (2.9.0)
Requirement already satisfied: requests in /opt/conda/lib/python3.7/site-packages (from gcsfs) (2.31.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (3.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /opt/conda/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/conda/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/conda/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.3.1)
Requirement already satisfied: asynctest==0.13.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (0.13.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /opt/conda/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (4.6.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from google-auth>=1.2->gcsfs) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/lib/python3.7/site-packages (from google-auth>=1.2->gcsfs) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/lib/python3.7/site-packages (from google-auth>=1.2->gcsfs) (4.9)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.7/site-packages (from google-auth>=1.2->gcsfs) (1.16.0)
Requirement already satisfied: urllib3<2.0 in /opt/conda/lib/python3.7/site-packages (from google-auth>=1.2->gcsfs) (1.26.16)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/conda/lib/python3.7/site-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /opt/conda/lib/python3.7/site-packages (from google-cloud-storage->gcsfs) (1.34.0)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-storage->gcsfs) (2.3.2)
Requirement already satisfied: google-resumable-media>=2.3.2 in /opt/conda/lib/python3.7/site-packages (from google-cloud-storage->gcsfs) (2.5.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests->gcsfs) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests->gcsfs) (2023.7.22)
Requirement already satisfied: importlib-metadata in /opt/conda/lib/python3.7/site-packages (from attrs>=17.3.0->aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (4.11.4)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /opt/conda/lib/python3.7/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (1.59.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<4.0.0dev,>=3.19.5 in /opt/conda/lib/python3.7/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (3.20.3)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/conda/lib/python3.7/site-packages (from google-resumable-media>=2.3.2->google-cloud-storage->gcsfs) (1.5.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /opt/conda/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.2)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata->attrs>=17.3.0->aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (3.15.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install fsspec

Requirement already satisfied: fsspec in /jupyter/.kernels/apache-beam-2.49.0/lib/python3.8/site-packages (2023.6.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Importamos librerías
import pandas as pd
import numpy as np

# Trabajamos con el dataset 'business'

In [2]:

gcs_url = 'gs://data_cruda/Yelp/business.json'

# Leer el archivo JSON en un DataFrame de Pandas
df_business = pd.read_json(gcs_url, lines=True)

In [7]:
df_business.dtypes

business_id      object
name             object
address          object
city             object
state            object
postal_code      object
latitude        float64
longitude       float64
stars           float64
review_count      int64
is_open           int64
attributes       object
categories       object
hours            object
dtype: object

In [3]:
df_business.head

<bound method NDFrame.head of                    business_id                      name  \
0       Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1       mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2       tUFrWirKiKi_TAnsVWINQQ                    Target
3       MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4       mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery
...                        ...                       ...
150341  IUQopTMmYQG-qRtBk-8QnA              Binh's Nails
150342  c8GjPIOTGVmIemT7j5_SyQ      Wild Birds Unlimited
150343  _QAMST-NrQobXduilWEqSw         Claire's Boutique
150344  mtGm22y5c2UHNXDFAjaPNw  Cyclery & Fitness Center
150345  jV_XOycEzSlTx-65W906pg                   Sic Ink

                                address           city state postal_code  \
0                1616 Chapala St, Ste 2  Santa Barbara    CA       93101
1       87 Grasso Plaza Shopping Center         Affton    MO       63123
2                  5255 E Broadway Blvd         Tucson    AZ       85711
3                           935 Race St   Philadelphia    PA       19107
4                         101 Walnut St     Green Lane    PA       18054
...                                 ...            ...   ...         ...
150341                3388 Gateway Blvd       Edmonton    AB     T6J 5H2
150342               2813 Bransford Ave      Nashville    TN       37204
150343           6020 E 82nd St, Ste 46   Indianapolis    IN       46250
150344                     2472 Troy Rd   Edwardsville    IL       62025
150345            238 Apollo Beach Blvd   Apollo beach    FL       33572

         latitude   longitude  stars  review_count  is_open  \
0       34.426679 -119.711197    5.0             7        0
1       38.551126  -90.335695    3.0            15        1
2       32.223236 -110.880452    3.5            22        0
3       39.955505  -75.155564    4.0            80        1
4       40.338183  -75.471659    4.5            13        1
...           ...         ...    ...           ...      ...
150341  53.468419 -113.492054    3.0            13        1
150342  36.115118  -86.766925    4.0             5        1
150343  39.908707  -86.065088    3.5             8        1
150344  38.782351  -89.950558    4.0            24        1
150345  27.771002  -82.394910    4.5             9        1

                                               attributes  \
0                           {'ByAppointmentOnly': 'True'}
1                  {'BusinessAcceptsCreditCards': 'True'}
2       {'BikeParking': 'True', 'BusinessAcceptsCredit...
3       {'RestaurantsDelivery': 'False', 'OutdoorSeati...
4       {'BusinessAcceptsCreditCards': 'True', 'Wheelc...
...                                                   ...
150341  {'ByAppointmentOnly': 'False', 'RestaurantsPri...
150342  {'BusinessAcceptsCreditCards': 'True', 'Restau...
150343  {'RestaurantsPriceRange2': '1', 'BusinessAccep...
150344  {'BusinessParking': '{'garage': False, 'street...
150345  {'WheelchairAccessible': 'True', 'BusinessAcce...

                                               categories  \
0       Doctors, Traditional Chinese Medicine, Naturop...
1       Shipping Centers, Local Services, Notaries, Ma...
2       Department Stores, Shopping, Fashion, Home & G...
3       Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                               Brewpubs, Breweries, Food
...                                                   ...
150341                         Nail Salons, Beauty & Spas
150342  Pets, Nurseries & Gardening, Pet Stores, Hobby...
150343  Shopping, Jewelry, Piercing, Toy Stores, Beaut...
150344  Fitness/Exercise Equipment, Eyewear & Optician...
150345  Beauty & Spas, Permanent Makeup, Piercing, Tattoo

                                                    hours
0                                                    None
1       {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
2       {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
3       {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
4       {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...
...                                                   ...
150341  {'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3...
150342  {'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3...
150343                                               None
150344  {'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ...
150345  {'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19...

[150346 rows x 14 columns]>

## Filtramos por categorías de rubro gastronómico

In [3]:
target_categories = [
'restaurant', 'coffee', 'rice', 'paan', 'ice cream',
    'tortilla', 'tofu', 'pie', 'soup',
    'cheese', 'cupcake', 'pasta', 'cookie', 'chocolate',
    'frozen yogurt', 'salad', 'cake', 'donut',
    'sandwich', 'chicken', 'pizza', 'burguer', 'hot dog'
]
target_categories_lower = [category.lower() for category in target_categories]

# Filtrar los registros que no tienen valores nulos en la columna 'Categories'
df_business_filtered = df_business.dropna(subset=['categories'])

# Filtrar los registros que contienen alguna de las categorías objetivo en la columna "Categories"
df_filteredy = df_business_filtered[df_business_filtered['categories'].str.lower().str.contains('|'.join(target_categories_lower))]

# Mostrar el resultado
print(df_filteredy.shape[0])  # Cantidad de registros filtrados

57190

## Filtramos, dejando solo los tres estados con los que trabajaremos

In [4]:
estados_interes = ['FL', 'PA', 'CA']
df_filtrado = df_filteredy[df_filteredy['state'].isin(estados_interes)]

df_filtrado.shape[0]

24645

Eliminamos duplicados

In [5]:
columns_to_check = [
    'business_id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude'
]
deduplicated_df = df_filtrado.drop_duplicates(subset=columns_to_check)

original_count = df_filtrado.shape[0]  
deduplicated_count = deduplicated_df.shape[0]

print("Número de filas originales:", original_count)
print("Número de filas después de la deduplicación:", deduplicated_count)

Número de filas originales: 24645
Número de filas después de la deduplicación: 24645

## Creamos un nuevo DataFrame con la columna 'attributes'

In [6]:

df_attributes = deduplicated_df[['business_id']].join(deduplicated_df['attributes'].apply(lambda x: pd.Series(x, dtype='object')))

# Mostrar el DataFrame resultante
df_attributes.head()

,business_id,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BusinessParking,BikeParking,RestaurantsPriceRange2,RestaurantsTakeOut,ByAppointmentOnly,WiFi,...,BestNights,DriveThru,Corkage,BYOBCorkage,Open24Hours,AgesAllowed,AcceptsInsurance,DietaryRestrictions,RestaurantsCounterService,HairSpecializesIn
3,MTSW4McQd7CbVtyjqoe9mw,False,False,False,"{'garage': False, 'street': True, 'validated':...",True,1,True,False,u'free',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,eEOYSgkmpB90uNA7lDOMRA,NaN,None,NaN,"{'garage': False, 'street': False, 'validated'...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0bPLkL0QhhPO5kt1_EXmNQ,True,False,True,"{'garage': False, 'street': False, 'validated'...",True,1,True,NaN,u'no',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,MUTTqe8uqyMdBl186RmNeA,True,True,True,"{u'valet': False, u'garage': None, u'street': ...",NaN,2,True,NaN,'free',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ROeacJQwBeh05Rqg7F6TCg,None,None,True,"{'garage': False, 'street': True, 'validated':...",True,1,True,NaN,u'no',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Lista de columnas a eliminar
columns_to_drop = ['Ambience', 'BusinessParking', 'Music', 'GoodForMeal', 'AcceptsInsurance', 'AgesAllowed',
                  'BYOBCorkage', 'DietaryRestrictions', 'HairSpecializesIn', 'Open24Hours', 'RestaurantsCounterService', 'BestNights']

# Eliminar las columnas del DataFrame
df_attributes.drop(columns=columns_to_drop, inplace=True)

# Mostrar los tipos de datos resultantes
print(df_attributes.dtypes)

business_id                   object
RestaurantsDelivery           object
OutdoorSeating                object
BusinessAcceptsCreditCards    object
BikeParking                   object
RestaurantsPriceRange2        object
RestaurantsTakeOut            object
ByAppointmentOnly             object
WiFi                          object
Alcohol                       object
Caters                        object
RestaurantsReservations       object
RestaurantsGoodForGroups      object
RestaurantsAttire             object
NoiseLevel                    object
GoodForKids                   object
BusinessAcceptsBitcoin        object
RestaurantsTableService       object
HasTV                         object
WheelchairAccessible          object
DogsAllowed                   object
HappyHour                     object
Smoking                       object
GoodForDancing                object
CoatCheck                     object
BYOB                          object
DriveThru                     object
Corkage                       object
dtype: object

In [8]:
# Arreglamos cadenas unicode
for column in df_attributes.columns:
    if column != 'business_id' and df_attributes[column].dtype == 'object':
        df_attributes[column] = df_attributes[column].apply(lambda x: x.lstrip("u'").lstrip("'").rstrip("'") if isinstance(x, str) else x)


df_attributes.head()

,business_id,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BikeParking,RestaurantsPriceRange2,RestaurantsTakeOut,ByAppointmentOnly,WiFi,Alcohol,...,HasTV,WheelchairAccessible,DogsAllowed,HappyHour,Smoking,GoodForDancing,CoatCheck,BYOB,DriveThru,Corkage
3,MTSW4McQd7CbVtyjqoe9mw,False,False,False,True,1,True,False,free,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,eEOYSgkmpB90uNA7lDOMRA,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0bPLkL0QhhPO5kt1_EXmNQ,True,False,True,True,1,True,NaN,no,none,...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,MUTTqe8uqyMdBl186RmNeA,True,True,True,NaN,2,True,NaN,free,full_bar,...,False,True,False,True,NaN,NaN,NaN,NaN,NaN,NaN
19,ROeacJQwBeh05Rqg7F6TCg,None,None,True,True,1,True,NaN,no,none,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
def convert_to_int(value):
    if value == 'None':
        return 0
    return int(value)

In [10]:
df_attributes.fillna(0, inplace=True)
columns_to_bool = ['BYOB', 'BikeParking', 'BusinessAcceptsBitcoin', 'BusinessAcceptsCreditCards', 'ByAppointmentOnly', 'Caters', \
                     'CoatCheck', 'Corkage', 'DogsAllowed', 'DriveThru', 'GoodForDancing', 'GoodForKids', 'HappyHour', 'HasTV', \
                     'OutdoorSeating', 'RestaurantsDelivery', 'RestaurantsGoodForGroups', 'RestaurantsReservations', \
                     'RestaurantsTableService', 'RestaurantsTakeOut', 'WheelchairAccessible']
columns_to_int = ['RestaurantsPriceRange2']
columns_to_str = ['business_id', 'Alcohol', 'NoiseLevel', 'RestaurantsAttire', 'Smoking', 'WiFi']

df_attributes[columns_to_bool] = df_attributes[columns_to_bool].astype(str)
df_attributes[columns_to_bool]=np.where(df_attributes[columns_to_bool] == 'True', True, False)
df_attributes[columns_to_int] = df_attributes[columns_to_int].fillna(0)
df_attributes[columns_to_int] = df_attributes[columns_to_int].applymap(convert_to_int)
df_attributes[columns_to_int] = df_attributes[columns_to_int].astype(int)

df_attributes[columns_to_int] = df_attributes[columns_to_int].fillna('',)
df_attributes[columns_to_str] = df_attributes[columns_to_str].astype(str)

df_attributes.dtypes

business_id                   object
RestaurantsDelivery             bool
OutdoorSeating                  bool
BusinessAcceptsCreditCards      bool
BikeParking                     bool
RestaurantsPriceRange2         int64
RestaurantsTakeOut              bool
ByAppointmentOnly               bool
WiFi                          object
Alcohol                       object
Caters                          bool
RestaurantsReservations         bool
RestaurantsGoodForGroups        bool
RestaurantsAttire             object
NoiseLevel                    object
GoodForKids                     bool
BusinessAcceptsBitcoin          bool
RestaurantsTableService         bool
HasTV                           bool
WheelchairAccessible            bool
DogsAllowed                     bool
HappyHour                       bool
Smoking                       object
GoodForDancing                  bool
CoatCheck                       bool
BYOB                            bool
DriveThru                       bool
Corkage                         bool
dtype: object

In [11]:
df_attributes.head()

,business_id,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BikeParking,RestaurantsPriceRange2,RestaurantsTakeOut,ByAppointmentOnly,WiFi,Alcohol,...,HasTV,WheelchairAccessible,DogsAllowed,HappyHour,Smoking,GoodForDancing,CoatCheck,BYOB,DriveThru,Corkage
3,MTSW4McQd7CbVtyjqoe9mw,False,False,False,True,1,True,False,free,none,...,False,False,False,False,0,False,False,False,False,False
11,eEOYSgkmpB90uNA7lDOMRA,False,False,False,False,0,False,False,0,none,...,False,False,False,False,0,False,False,False,False,False
14,0bPLkL0QhhPO5kt1_EXmNQ,True,False,True,True,1,True,False,no,none,...,True,True,False,False,0,False,False,False,False,False
15,MUTTqe8uqyMdBl186RmNeA,True,True,True,False,2,True,False,free,full_bar,...,False,True,False,True,0,False,False,False,False,False
19,ROeacJQwBeh05Rqg7F6TCg,False,False,True,True,1,True,False,no,none,...,True,False,False,False,0,False,False,False,False,False

In [12]:
# Guardar como archivo Parquet
parquet_file_path = 'gs://data_limpia/Yelp/attributes.parquet'
df_attributes.to_parquet(parquet_file_path)

## Creamos un nuevo dataset con la columna 'hours'

In [6]:

df_hours = deduplicated_df[['business_id']].join(deduplicated_df['hours'].apply(lambda x: pd.Series(x, dtype='object')))

df_hours.head()

,business_id,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
3,MTSW4McQd7CbVtyjqoe9mw,7:0-20:0,7:0-20:0,7:0-20:0,7:0-20:0,7:0-21:0,7:0-21:0,7:0-21:0
11,eEOYSgkmpB90uNA7lDOMRA,11:0-14:0,11:0-14:0,11:0-14:0,11:0-14:0,11:0-14:0,5:0-10:0,15:0-18:0
14,0bPLkL0QhhPO5kt1_EXmNQ,10:0-18:0,10:0-20:0,10:0-20:0,10:0-20:0,10:0-20:0,10:0-20:0,NaN
15,MUTTqe8uqyMdBl186RmNeA,NaN,13:30-22:0,13:30-22:0,13:30-22:0,13:30-23:0,13:30-23:0,13:30-22:0
19,ROeacJQwBeh05Rqg7F6TCg,11:30-20:30,11:30-20:30,11:30-20:30,11:30-20:30,11:30-20:30,11:30-20:30,NaN

In [7]:
df_hours.fillna('', inplace=True)

In [33]:
df_hours.columns

Index(['business_id', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday', 'Sunday'],
      dtype='object')

In [8]:
# Guardamos hours como archivo Parquet
parquet_file_path = 'gs://data_limpia/Yelp/hours.parquet'
df_hours.to_parquet(parquet_file_path)

## Creamos un nuevo dataset con la columna 'Categories'

In [9]:
flat_categories_list = deduplicated_df['categories'].str.split(', ').explode()

category_counts = flat_categories_list.value_counts()

categories_with_50_or_more_occurrences = category_counts[category_counts >= 100]

selected_categories_df = categories_with_50_or_more_occurrences.reset_index()
selected_categories_df.columns = ['category', 'count']

selected_categories_df['category_id'] = range(1, len(selected_categories_df) + 1)

df_categories = selected_categories_df[['category_id', 'category']]

df_categories.head()

   category_id     category
0            1  Restaurants
1            2         Food
2            3   Sandwiches
3            4    Nightlife
4            5         Bars

In [10]:
# Guardamos categories como archivo Parquet
parquet_file_path = 'gs://data_limpia/Yelp/categories.parquet'
df_categories.to_parquet(parquet_file_path)

## Creamos una linked table entre 'business' y 'categories'

In [11]:
dataframes_list = []

for index, row in deduplicated_df.iterrows():
    business_id = row['business_id']
    categories = row['categories'].split(', ')

    for category in categories:
        matching_category = df_categories[df_categories['category'] == category]

        if not matching_category.empty:
            category_id = matching_category['category_id'].values[0]
            dataframes_list.append(pd.DataFrame({'business_id': [business_id], 'category_id': [category_id]}))

df_bus_cat = pd.concat(dataframes_list, ignore_index=True)

df_bus_cat.head()

              business_id  category_id
0  MTSW4McQd7CbVtyjqoe9mw            1
1  MTSW4McQd7CbVtyjqoe9mw            2
2  MTSW4McQd7CbVtyjqoe9mw           79
3  MTSW4McQd7CbVtyjqoe9mw            8
4  MTSW4McQd7CbVtyjqoe9mw           24

In [12]:
df_bus_cat.drop_duplicates(inplace=True)

In [13]:
# Guardamos bus_cat como archivo Parquet
parquet_file_path = 'gs://data_limpia/Yelp/bus_cat.parquet'
df_bus_cat.to_parquet(parquet_file_path)

In [14]:
deduplicated_df.drop(columns=['postal_code', 'stars', 'review_count', 'is_open', 'attributes', 'categories', 'hours'], inplace=True)

In [15]:
deduplicated_df.dtypes

business_id     object
name            object
address         object
city            object
state           object
latitude       float64
longitude      float64
dtype: object

In [16]:
# Guardamos business como archivo Parquet
parquet_file_path = 'gs://data_limpia/Yelp/business.parquet'
deduplicated_df.to_parquet(parquet_file_path)